@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Creepster';
	background-color: #314189;
	color: #eff9fe;
	height: 10vh;
	width: 100vw;
	padding: 3rem 20rem;
}

.logo-name {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo {
	height: 6rem;
}

.name {
	font-size: 4rem;
}

main {
	height: 90vh;
	background-image: url(src/assets/images/background.png);
	background-size: cover;
	background-position: left bottom;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7rem;
	font-family: 'Creepster';
	/* background-color: #314189; */
	font-size: 1.8rem;
	color: #eff9fe;
	text-align: center;
	padding: 1rem;

	img {
		height: 1.6rem;
	}
}
